sphinx
numpydoc
six
enum-compat
sentinel
mock
-e git+https://github.com/SpiNNakerManchester/SpiNNUtils.git@master#egg=spinn_utilities
-e git+https://github.com/SpiNNakerManchester/SpiNNMachine.git@master#egg=SpiNNMachine
-e git+https://github.com/SpiNNakerManchester/SpiNNStorageHandlers.git@master#egg=spinn_storage_handlers
-e git+https://github.com/SpiNNakerManchester/SpiNNMan.git@master#egg=spinnman
-e git+https://github.com/SpiNNakerManchester/spalloc.git@master#egg=spalloc
